.trending-description {
  padding: 50px 0 30px 0;
  text-align: center;
}

.trending-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content: space-evenly;
  padding: 10px;
  gap: 2rem;
}


.card {
  width: 350px;
  background: #d1d9e0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 25px;
  text-align: center;
}

.img {
  height: 300px;
  width: 300px;
}

.img-m {
  /* overflow: hidden; */
  /* background-size: contain; */
  height: 300px;
  width: 300px;
}

/* .card img {
  margin: -95px 0 -60px;
  width: 100%;
} */

.card .title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
  color: black;
  margin-bottom: 5px;
}

.card .desc {
  font-size: 17px;
  opacity: 0.8;
  margin-bottom: 3px;
}

.card .box {
  padding: 30px 20px;
}

.card .price {
  float: left;
  color: black;
  font-size: 22px;
  font-weight: 900;
  padding-top: 2px;
  transition: color 0.3s ease-in-out;
  margin-top: 4px;
}

.card .btnn a {
  color: #4b2e1a;
  text-decoration: none;
}

.card .btnn a:hover {
  color: #fff;
}

.card .btnn {
  position: relative;
  z-index: 1;
  float: right;
  font-size: 13px;
  color: #4b2e1a;
  padding: 12px 18px;
  cursor: pointer;
  font-weight: 900;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  line-height: 0.95;
  border: 1px solid #4b2e1a;
  border-radius: 20px;
  overflow: hidden;
  outline: none;
}

.card .btnn .bg {
  background: linear-gradient(135deg, #4b2e1a, #c19a6b);
  /* float: right; */
  padding-left: 40px;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.card .btnn:hover {
  color: #fff;
  border: 1px solid transparent;
}
.card .btnn:hover .bg {
  opacity: 1;
}

.bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(15deg, #d33f34 50%, #a61322 50.1%);
  z-index: 1;
  display: none;
}
.detail {
  padding-top: 80px;
}
